{% extends "FOSOAuthServerBundle::base.html.twig" %}

{% block body %}

	<h1>{{ "header.access_request"|trans({"%name%": accessRequest.client.name }, "FOSOAuthServerBundle")
                |desc("%name% is requesting the following access permissions") }}</h1>

    <table>
    	<thead>
    		<tr>
    			<th>{{ "header.scope_label"|trans({}, "FOSOAuthServerBundle")|desc("Name") }}</th>
    			<th>{{ "header.scope_desc"|trans({}, "FOSOAuthServerBundle")|desc("Description") }}</th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for scope in accessRequest.scopes %}
    		<tr>
    			<td>{{ ("text.scope_label_" ~ scope)|trans({}, "FOSOAuthServerBundle") }}</td>
    			<td>{{ ("text.scope_desc_" ~ scope)|trans({}, "FOSOAuthServerBundle") }}</td>
    		</tr>
    	{% endfor %}
    	</tbody>
    </table>

    <div class="actions">
    	<a href="" class="btn primary">{{ "button.grant_access"|trans({}, "FOSOAuthServerBundle")|desc("Grant Access") }}</a>
    	<a href="" class="btn">{{ "button.deny_access"|trans({}, "FOSOAuthServerBundle")|desc("Deny Access") }}</a>
    </div>

{% endblock %}